# Work on the Telecom customer Churn

## Importing Libraries

In [269]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

## Load Data

In [270]:
df=pd.read_csv("Churn.csv")

In [271]:
df

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,State,Area_Code,Phone
0,128,25,265.1,197.4,244.7,10.0,1,no,no,yes,...,45.07,99,16.78,91,11.01,3,2.70,KS,415,382-4657
1,107,26,161.6,195.5,254.4,13.7,1,no,no,yes,...,27.47,103,16.62,103,11.45,3,3.70,OH,415,371-7191
2,137,0,243.4,121.2,162.6,12.2,0,no,no,no,...,41.38,110,10.30,104,7.32,5,3.29,NJ,415,358-1921
3,84,0,299.4,61.9,196.9,6.6,2,no,yes,no,...,50.90,88,5.26,89,8.86,7,1.78,OH,408,375-9999
4,75,0,166.7,148.3,186.9,10.1,3,no,yes,no,...,28.34,122,12.61,121,8.41,3,2.73,OK,415,330-6626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,36,156.2,215.5,279.1,9.9,2,no,no,yes,...,26.55,126,18.32,83,12.56,6,2.67,AZ,415,414-4276
3329,68,0,231.1,153.4,191.3,9.6,3,no,no,no,...,39.29,55,13.04,123,8.61,4,2.59,WV,415,370-3271
3330,28,0,180.8,288.8,191.9,14.1,2,no,no,no,...,30.74,58,24.55,91,8.64,6,3.81,RI,510,328-8230
3331,184,0,213.8,159.6,139.2,5.0,2,no,yes,no,...,36.35,84,13.57,137,6.26,10,1.35,CT,510,364-6381
3332,74,25,234.4,265.9,241.4,13.7,0,no,no,yes,...,39.85,82,22.60,77,10.86,4,3.70,TN,415,400-4344

In [272]:
df.head()

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,State,Area_Code,Phone
0,128,25,265.1,197.4,244.7,10.0,1,no,no,yes,...,45.07,99,16.78,91,11.01,3,2.70,KS,415,382-4657
1,107,26,161.6,195.5,254.4,13.7,1,no,no,yes,...,27.47,103,16.62,103,11.45,3,3.70,OH,415,371-7191
2,137,0,243.4,121.2,162.6,12.2,0,no,no,no,...,41.38,110,10.30,104,7.32,5,3.29,NJ,415,358-1921
3,84,0,299.4,61.9,196.9,6.6,2,no,yes,no,...,50.90,88,5.26,89,8.86,7,1.78,OH,408,375-9999
4,75,0,166.7,148.3,186.9,10.1,3,no,yes,no,...,28.34,122,12.61,121,8.41,3,2.73,OK,415,330-6626

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Account_Length  3333 non-null   int64
 1   Vmail_Message   3333 non-null   int64
 2   Day_Mins        3333 non-null   float64
 3   Eve_Mins        3333 non-null   float64
 4   Night_Mins      3333 non-null   float64
 5   Intl_Mins       3333 non-null   float64
 6   CustServ_Calls  3333 non-null   int64
 7   Churn           3333 non-null   object
 8   Intl_Plan       3333 non-null   object
 9   Vmail_Plan      3333 non-null   object
 10  Day_Calls       3333 non-null   int64
 11  Day_Charge      3333 non-null   float64
 12  Eve_Calls       3333 non-null   int64
 13  Eve_Charge      3333 non-null   float64
 14  Night_Calls     3333 non-null   int64
 15  Night_Charge    3333 non-null   float64
 16  Intl_Calls      3333 non-null   int64
 17  Intl_Charge     3333 non-null   float64
 18  State           3333 non-null   object
 19  Area_Code       3333 non-null   int64
 20  Phone           3333 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB

In [274]:
df.isnull().sum()

Account_Length    0
Vmail_Message     0
Day_Mins          0
Eve_Mins          0
Night_Mins        0
Intl_Mins         0
CustServ_Calls    0
Churn             0
Intl_Plan         0
Vmail_Plan        0
Day_Calls         0
Day_Charge        0
Eve_Calls         0
Eve_Charge        0
Night_Calls       0
Night_Charge      0
Intl_Calls        0
Intl_Charge       0
State             0
Area_Code         0
Phone             0
dtype: int64

## Encoding : Line Encoding

In [344]:
print(df.Churn.value_counts())

0    2850
1     483
Name: Churn, dtype: int64

In [345]:
df.replace({'Churn':{'no':0, 'yes':1}},inplace=True)
print(df.Churn.value_counts())

0    2850
1     483
Name: Churn, dtype: int64

In [277]:
df.head()

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,State,Area_Code,Phone
0,128,25,265.1,197.4,244.7,10.0,1,0,no,yes,...,45.07,99,16.78,91,11.01,3,2.70,KS,415,382-4657
1,107,26,161.6,195.5,254.4,13.7,1,0,no,yes,...,27.47,103,16.62,103,11.45,3,3.70,OH,415,371-7191
2,137,0,243.4,121.2,162.6,12.2,0,0,no,no,...,41.38,110,10.30,104,7.32,5,3.29,NJ,415,358-1921
3,84,0,299.4,61.9,196.9,6.6,2,0,yes,no,...,50.90,88,5.26,89,8.86,7,1.78,OH,408,375-9999
4,75,0,166.7,148.3,186.9,10.1,3,0,yes,no,...,28.34,122,12.61,121,8.41,3,2.73,OK,415,330-6626

In [278]:
print(df.Intl_Plan.value_counts())

no     3010
yes     323
Name: Intl_Plan, dtype: int64

In [279]:
df.replace({'Intl_Plan':{'no':0, 'yes':1}},inplace=True)
print(df.Intl_Plan.value_counts())

0    3010
1     323
Name: Intl_Plan, dtype: int64

In [280]:
df.head()

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,State,Area_Code,Phone
0,128,25,265.1,197.4,244.7,10.0,1,0,0,yes,...,45.07,99,16.78,91,11.01,3,2.70,KS,415,382-4657
1,107,26,161.6,195.5,254.4,13.7,1,0,0,yes,...,27.47,103,16.62,103,11.45,3,3.70,OH,415,371-7191
2,137,0,243.4,121.2,162.6,12.2,0,0,0,no,...,41.38,110,10.30,104,7.32,5,3.29,NJ,415,358-1921
3,84,0,299.4,61.9,196.9,6.6,2,0,1,no,...,50.90,88,5.26,89,8.86,7,1.78,OH,408,375-9999
4,75,0,166.7,148.3,186.9,10.1,3,0,1,no,...,28.34,122,12.61,121,8.41,3,2.73,OK,415,330-6626

In [281]:
print(df.Vmail_Plan.value_counts())

no     2411
yes     922
Name: Vmail_Plan, dtype: int64

In [282]:
df.replace({'Vmail_Plan':{'no':0, 'yes':1}},inplace=True)
print(df.Vmail_Plan.value_counts())

0    2411
1     922
Name: Vmail_Plan, dtype: int64

In [283]:
df.head()

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,State,Area_Code,Phone
0,128,25,265.1,197.4,244.7,10.0,1,0,0,1,...,45.07,99,16.78,91,11.01,3,2.70,KS,415,382-4657
1,107,26,161.6,195.5,254.4,13.7,1,0,0,1,...,27.47,103,16.62,103,11.45,3,3.70,OH,415,371-7191
2,137,0,243.4,121.2,162.6,12.2,0,0,0,0,...,41.38,110,10.30,104,7.32,5,3.29,NJ,415,358-1921
3,84,0,299.4,61.9,196.9,6.6,2,0,1,0,...,50.90,88,5.26,89,8.86,7,1.78,OH,408,375-9999
4,75,0,166.7,148.3,186.9,10.1,3,0,1,0,...,28.34,122,12.61,121,8.41,3,2.73,OK,415,330-6626

In [284]:
print(df.State.value_counts())

WV    106
MN     84
NY     83
AL     80
WI     78
OH     78
OR     78
WY     77
VA     77
CT     74
MI     73
ID     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
NM     62
ME     62
ND     62
NE     61
OK     61
DE     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: State, dtype: int64

## This will take too much time if i use line encoding. So, I prefer here One hot encoding for saving my time.

In [346]:
dummies = pd.get_dummies(df['State'])

In [286]:
dummies

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3330,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3331,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3332,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [287]:
merge = pd.concat([df,dummies],axis='columns')

In [288]:
merge

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,128,25,265.1,197.4,244.7,10.0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,107,26,161.6,195.5,254.4,13.7,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,137,0,243.4,121.2,162.6,12.2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,84,0,299.4,61.9,196.9,6.6,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,75,0,166.7,148.3,186.9,10.1,3,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,36,156.2,215.5,279.1,9.9,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3329,68,0,231.1,153.4,191.3,9.6,3,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3330,28,0,180.8,288.8,191.9,14.1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3331,184,0,213.8,159.6,139.2,5.0,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3332,74,25,234.4,265.9,241.4,13.7,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [347]:
final = merge.drop(['State'],axis='columns')

In [290]:
final

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,128,25,265.1,197.4,244.7,10.0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,107,26,161.6,195.5,254.4,13.7,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,137,0,243.4,121.2,162.6,12.2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,84,0,299.4,61.9,196.9,6.6,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,75,0,166.7,148.3,186.9,10.1,3,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,36,156.2,215.5,279.1,9.9,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3329,68,0,231.1,153.4,191.3,9.6,3,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3330,28,0,180.8,288.8,191.9,14.1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3331,184,0,213.8,159.6,139.2,5.0,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3332,74,25,234.4,265.9,241.4,13.7,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

## Data Transformation

In [292]:
z = df.drop(['Phone','State'], axis=1)
print(z)

      Account_Length  Vmail_Message  Day_Mins  Eve_Mins  Night_Mins  \
0                128             25     265.1     197.4       244.7
1                107             26     161.6     195.5       254.4
2                137              0     243.4     121.2       162.6
3                 84              0     299.4      61.9       196.9
4                 75              0     166.7     148.3       186.9
...              ...            ...       ...       ...         ...
3328             192             36     156.2     215.5       279.1
3329              68              0     231.1     153.4       191.3
3330              28              0     180.8     288.8       191.9
3331             184              0     213.8     159.6       139.2
3332              74             25     234.4     265.9       241.4

      Intl_Mins  CustServ_Calls  Churn  Intl_Plan  Vmail_Plan  Day_Calls  \
0          10.0               1      0          0           1        110
1          13.7               1      0          0           1        123
2          12.2               0      0          0           0        114
3           6.6               2      0          1           0         71
4          10.1               3      0          1           0        113
...         ...             ...    ...        ...         ...        ...
3328        9.9               2      0          0           1         77
3329        9.6               3      0          0           0         57
3330       14.1               2      0          0           0        109
3331        5.0               2      0          1           0        105
3332       13.7               0      0          0           1        113

      Day_Charge  Eve_Calls  Eve_Charge  Night_Calls  Night_Charge  \
0          45.07         99       16.78           91         11.01
1          27.47        103       16.62          103         11.45
2          41.38        110       10.30          104          7.32
3          50.90         88        5.26           89          8.86
4          28.34        122       12.61          121          8.41
...          ...        ...         ...          ...           ...
3328       26.55        126       18.32           83         12.56
3329       39.29         55       13.04          123          8.61
3330       30.74         58       24.55           91          8.64
3331       36.35         84       13.57          137          6.26
3332       39.85         82       22.60           77         10.86

      Intl_Calls  Intl_Charge  Area_Code
0              3         2.70        415
1              3         3.70        415
2              5         3.29        415
3              7         1.78        408
4              3         2.73        415
...          ...          ...        ...
3328           6         2.67        415
3329           4         2.59        415
3330           6         3.81        510
3331          10         1.35        510
3332           4         3.70        415

[3333 rows x 19 columns]

In [293]:
# z1 = df.drop(['State'], axis=1)
# print(z1)

## MIN MAX SCALER

In [348]:
MMS = MinMaxScaler(feature_range=(0, 1))

In [349]:
x_after_min_max_scaler = MMS.fit_transform(z)

In [296]:
x_after_min_max_scaler

array([[0.52479339, 0.49019608, 0.75570125, ..., 0.15      , 0.5       ,
        0.06862745],
       [0.43801653, 0.50980392, 0.46066135, ..., 0.15      , 0.68518519,
        0.06862745],
       [0.56198347, 0.        , 0.69384265, ..., 0.25      , 0.60925926,
        0.06862745],
       ...,
       [0.11157025, 0.        , 0.51539339, ..., 0.3       , 0.70555556,
        1.        ],
       [0.75619835, 0.        , 0.60946408, ..., 0.5       , 0.25      ,
        1.        ],
       [0.30165289, 0.49019608, 0.668187  , ..., 0.2       , 0.68518519,
        0.06862745]])

## StandardScaler

In [297]:
Standardisation = StandardScaler()

In [298]:
x_after_Standardisation = Standardisation.fit_transform(z)

In [299]:
x_after_Standardisation

array([[ 0.67648946,  1.23488274,  1.56676695, ..., -0.60119509,
        -0.0856905 , -0.52360328],
       [ 0.14906505,  1.30794844, -0.33373776, ..., -0.60119509,
         1.2411686 , -0.52360328],
       [ 0.9025285 , -0.59175986,  1.16830364, ...,  0.21153386,
         0.69715637, -0.52360328],
       ...,
       [-1.83505538, -0.59175986,  0.01881963, ...,  0.61789834,
         1.3871231 ,  1.71881732],
       [ 2.08295458, -0.59175986,  0.62477766, ...,  2.24335625,
        -1.87695028,  1.71881732],
       [-0.67974475,  1.23488274,  1.00304237, ..., -0.19483061,
         1.2411686 , -0.52360328]])

 It is not necessary to standardize or normalize data for tree-based machine learning models.

## Train Test data split

In [316]:
y = df['Churn']

In [317]:
y

0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: Churn, Length: 3333, dtype: int64

In [327]:
x = final.drop(['Churn','Phone'],axis=1)

In [328]:
x

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Intl_Plan,Vmail_Plan,Day_Calls,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,128,25,265.1,197.4,244.7,10.0,1,0,1,110,...,0,0,0,0,0,0,0,0,0,0
1,107,26,161.6,195.5,254.4,13.7,1,0,1,123,...,0,0,0,0,0,0,0,0,0,0
2,137,0,243.4,121.2,162.6,12.2,0,0,0,114,...,0,0,0,0,0,0,0,0,0,0
3,84,0,299.4,61.9,196.9,6.6,2,1,0,71,...,0,0,0,0,0,0,0,0,0,0
4,75,0,166.7,148.3,186.9,10.1,3,1,0,113,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,36,156.2,215.5,279.1,9.9,2,0,1,77,...,0,0,0,0,0,0,0,0,0,0
3329,68,0,231.1,153.4,191.3,9.6,3,0,0,57,...,0,0,0,0,0,0,0,0,1,0
3330,28,0,180.8,288.8,191.9,14.1,2,0,0,109,...,0,0,0,0,0,0,0,0,0,0
3331,184,0,213.8,159.6,139.2,5.0,2,1,0,105,...,0,0,0,0,0,0,0,0,0,0
3332,74,25,234.4,265.9,241.4,13.7,0,0,1,113,...,0,1,0,0,0,0,0,0,0,0

In [329]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=1)

In [330]:
print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(2666, 69) (667, 69) (2666,) (667,)

In [331]:
#  #cross_validation
# from sklearn.model_selection import cross_val_score

In [332]:
# cv_score = cross_val_score()

## DecisionTreeClassifier

In [333]:
from sklearn.tree import DecisionTreeClassifier

In [334]:
model = DecisionTreeClassifier()

In [335]:
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [336]:
model.predict(xtest)

array([1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0], dtype=int64)

In [337]:
model.score(xtrain,ytrain)

1.0

In [340]:
model.predict([[128,25,265.1,197.4,244.7,10.0,1,0,1,110,0,0,0,0,0,0,0,0,0,0]])

ValueError: X has 20 features, but DecisionTreeClassifier is expecting 69 features as input.

# X has 20 features, but DecisionTreeClassifier is expecting 69 features as input.

I got that type of output from this notebook, As I don't know how to visualize
all data from a row so as default it is offering 20 values and in the middle of data it showed dot dot data....

In [341]:
from sklearn.metrics import confusion_matrix

In [342]:
confu = confusion_matrix(xtrain,ytrain)

ValueError: Classification metrics can't handle a mix of continuous-multioutput and binary targets

## Note: Hello Bhaiya, My upcoming semester final exam is about to start. I have only 5 days to take my final preparation and as I am a newbie in Machine Learning So I need a good amount of free time to figure it out how these models are actually working. For this reason I am sorry for my incomplete code...

##  Hope that, I will execute this full code after my semester final. Till then thats it :)  .Can I get solution for every assignment that you assigned ?